.btn {
    background: rgb(26,65,190);
    background: linear-gradient(90deg, rgba(26,65,190,1) 0%, rgba(0,99,218,1) 100%);
    padding: 5px 25px;
    
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(32,80,233);
    background: linear-gradient(90deg, rgba(32,80,233,1) 0%, rgba(0,116,255,1) 100%);

}