.form {
    display: inline-block;
    width: 100%;
    
}

.form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
}

.form-row label {
    width: 100%;
    margin-bottom: 5px;
    display:inline-block;
}

.form-row input {
    width: 100%;
    display:inline-block;

    border-top: none;
    border-left: none;
    border-right: none;

}