body,
body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #84BADC;
}

main {
    width: 800px;
    
    margin-top: 100px;
    display: inline-block;
    margin-left: calc(50% - 400px);
}

.left-column{
    margin-top: 20px;
    padding: 40px;
    width: 40%;
    float: left;
    background-color:#514BB1;
    background-image: url(../img/left.jpg);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;

    /* height: 450px; */

    color: #ffffff;
}

.main-title {
    font-size: 32px;
    font-weight: normal;
    /* background-color: yellow; */
    display:inline-block;
    width: 100%;
}

.bottom-links {
    color: #fff;
    /* background-color: yellow; */
    display:inline-block;
    width: 100%;
}

.bottom-links > .link {
    color: #ffffff;
    text-decoration: none;
}

.symbol {

}

.main-title {
    
}

.right-column{
    padding: 60px;
    width: 60%;
    float: left;
    background-color: #fff;
}

.close {
    display: inline-block;
    background-color: red;
}

