body,
body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #84BADC;
}

main {
    width: 800px;
    
    margin-top: 100px;
    display: inline-block;
    margin-left: calc(50% - 400px);
}

main > div:first-child{
    margin-top: 20px;
    padding: 40px;
    width: 40%;
    float: left;
    background-color:#514BB1;
}

main > div:last-child{
    padding: 60px;
    width: 60%;
    float: left;
    background-color: #fff;
}