body,
body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.backgroundImg {
    position: absolute;
    filter: blur(13px);
    /* filter: brightness(1.75); */
    width: 100%;
    height: 100%;
}
body {
    background-color: #84BADC;
    position: relative;
    height: 100vh;
}

.container {
    position: absolute;
    display: inline-block;
    top:50%;
    left: 50%;
    /* transform: translateY(-50%); */
    transform: translate(-50%, -50%);
   width: 800px;
    display: inline-block;
}




.left-column{
    /* margin-top: 20px; */
    padding: 40px;
    width: 40%;
    float: left;
    background-color:#514BB1;
    background-image: url(../img/left.jpg);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    
    /* height: 450px; */
    
    position:absolute;
    left: 0;
    top:30px;
    bottom: 30px;

    color: #ffffff;
}

.bottom-links {
    position: absolute;
    left: 46px;
    bottom: 30px;
}

.main-title {
    font-size: 32px;
    font-weight: normal;
    /* background-color: yellow; */
    display:inline-block;
    width: 100%;
}

.bottom-links {
    color: #fff;
    /* background-color: yellow; */
    display:inline-block;
    width: 100%;
}

.bottom-links > .link {
    color: #ffffff;
    text-decoration: none;
}

.symbol {

}

.main-title {
    
}

.right-column{
    
    padding: 60px;
    width: 60%;
    float: right;
    background-color: #fff;
    
}

.close {
    position:absolute;
    right:0;
    top:0;
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    font-size: 38px;
    line-height: 54px;
    text-align: center;
}

.close:hover{
    font-size: 45px;
}

